:root {
  --primary-bg: rgb(31, 32, 40);
  --content-bg: rgb(31, 32, 40);
  --header-bg: rgb(1, 22, 39);
  --box-bg: rgb(46, 48, 57);
  --font-color: rgb(200, 200, 200);
  --link: #36a3ff;
  --link-hov: #56c3ff;
  --highlight: rgb(86, 89, 100);

  --max-width: 1000px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  --card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --card-item-shadow: var(--header-bg) 0px 0px 4px 2px,
    var(--color) 0px 0px 2px 2px;
  --item-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.purple-theme {
  --primary-bg: rgb(99, 89, 133);
  --header-bg: rgb(24, 18, 43);
  --box-bg: rgb(68, 60, 104);
  --content-bg: rgb(68, 60, 104);
  --font-color: rgb(235, 235, 235);
  --link: #56c3ff;
  --link-hov: #56c3ff;
  --highlight: rgb(120, 111, 152);
}

.black-theme {
  --primary-bg: rgb(46, 48, 57);
  --content-bg: rgb(28, 27, 34);
  --header-bg: rgb(1, 22, 39);
  --box-bg: rgb(28, 27, 34);
  --font-color: rgb(200, 200, 200);
  --link: #36a3ff;
  --link-hov: #56c3ff;
  --highlight: rgb(86, 89, 100);
}

.white-theme {
  --primary-bg: #87c0c6;
  --header-bg: rgb(255, 255, 255);
  --content-bg: rgb(255, 255, 255);
  --box-bg: rgb(255, 255, 255);
  --font-color: black;
  --link: rgb(4, 41, 102);
  --link-hov: rgb(2, 20, 50);
  --highlight: rgba(235, 235, 106, 0.5);
}

.theme-button,
.theme-switcher-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: larger;
  display: block;
  cursor: pointer;
  margin: 2em;
}

.is-30x30 {
  width: 30px;
  height: 30px;
}

.white-theme-button {
  background-color: white;
  color: black;
}

.black-theme-button {
  background-color: black;
  color: white;
}

.purple-theme-button {
  background-color: rgb(130, 107, 203);
  color: white;
}

#menu-toggle,
.theme-switcher-button,
.menu-button-container {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif';
  height: 100%;
  background-color: var(--primary-bg);
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

main {
  margin-top: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-decoration-skip-ink: none;
}

p,
dd,
li {
  line-height: 40px;
  font-size: 18px;
}
dt {
  font-weight: bold;
  font-size: 18px;
}

mark {
  background-color: var(--highlight);
  color: var(--font-color);
}
.url {
  color: var(--link);
}
.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: var(--link);
  background-color: var(--primary-bg);
}
.skip-link:focus {
  width: auto;
  height: auto;
  left: 6px;
  top: 7px;
  z-index: 1000000;
  padding: 1em;
}
.quote {
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  padding: 0.5em;
  background-color: var(--box-bg);
  font-style: italic;
}

.quote-footer {
  justify-content: flex-end;
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-bg);
  padding-top: 1em;
}

.navbar-menu {
  max-width: var(--max-width);
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navbar-item {
  padding: 1.5em;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0.2em;
}

.navbar-item:hover {
  color: var(--color);
  background-color: var(--box-bg);
  border-radius: 10px;
}

.footer {
  padding: 1em;
  text-align: center;
  background-color: var(--primary-bg);
  box-shadow: var(--card-shadow);
}

.content-box {
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  max-width: 1000px;
  width: 1000px;
}

article.card {
  margin-left: calc(100px + 2em);
}

.card-header {
  padding: 2em;
  background-color: var(--header-bg);
}

.card-item {
  padding: 5em;
  box-shadow: var(--card-item-shadow);
  background-color: var(--content-bg);
  margin-bottom: 2em;
  margin-top: 2em;
}

.banner {
  width: 600px;
  height: 500px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 4em;
}

.msg-wrapper {
  width: 100%;
  position: sticky;
  transform: rotate(10deg);
  margin-top: 2.5em;
}

.msg {
  box-shadow: 0 4px 5px 0 var(--header-bg), 0 6px 10px 0 var(--font-color);
  border: 1px solid var(--header-bg);
  padding: 1em;
  background-color: var(--content-bg);
  text-align: center;
}
.about-card {
  box-shadow: var(--card-item-shadow);
}

.is-content-center {
  justify-content: center;
  display: grid;
}

.is-text-center {
  text-align: center;
}

.spread-contents {
  display: flex;
  justify-content: space-between;
}

.profile-picture {
  position: sticky;
  top: 285px;
  width: auto;
  height: auto;
  margin-left: -1.5em;
}

.profile-photo {
  position: relative;
  height: 48px;
  width: 48px;
  top: 4em;
  left: 0.5em;
}

.photo {
  padding: 1rem;
  background-color: var(--header-bg);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-self: center;
}
.photo.logo {
  background-color: unset;
  border-radius: unset;
  width: 168px;
  height: 168px;
}

.is-1-by-2 {
  width: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.image {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
}

.is-180x180 {
  width: 180px;
  height: 180px;
  min-width: 180px;
  min-height: 180px;
}

.posts-item {
  width: 100%;
  height: auto;
}

.column {
  flex-direction: column;
}

.title {
  color: var(--font-color);
  font-weight: bold;
  font-size: large;
}

.subtitle {
  color: var(--font-color);
  font-weight: normal;
  font-size: medium;
}

.hide-in-mobile {
  display: block;
}

.icon {
  width: 48px;
  height: 48px;
}

.media-box {
  display: flex;
  background-color: var(--box-bg);
  color: var(--font-color);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
}

.media-figure {
  margin: auto;
}
.search-box {
  display: flex;
  background-color: var(--primary-bg);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  margin: 1em;
  text-decoration: none;
}

a.media-box:hover,
a.search-box:hover {
  color: var(--font-color);
  text-decoration: none;
  box-shadow: var(--header-bg) 0 0 4px 2px, var(--font-color) 0 0 4px 2px;
}

.media-content {
  flex-basis: auto;
  text-align: inherit;
  padding: 1em;
  background-color: var(--content-bg);
  width: 100%;
}

.tag {
  align-items: center;
  background-color: var(--font-color);
  border-radius: 4px;
  color: var(--header-bg);
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
}

.reply-box {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
code {
  display: block;
}
button.link-button {
  font-size: large;
}

.link-button {
  border-radius: 10px;
  border: 1px solid var(--font-color);
  box-shadow: var(--card-shadow);
  font-weight: 600;
  padding: 1em;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
}

.share-box {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.share-button {
  background-color: var(--header-bg);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}
.share-button:active {
  background-color: var(--box-bg);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.is-row {
  display: flex;
  flex-direction: row;
}

.is-padding-left-1 {
  padding-left: 1em;
}
.is-padding-1 {
  padding: 1em;
}

.visually-hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.search-query {
  height: 3em;
  color: var(--font-color);
  background-color: var(--box-bg);
  box-shadow: var(--box-shadow);
  border: 1em;
  border-radius: 1em;
  padding: 1em;
  align-self: center;
  width: 20%;
  margin-top: 1em;
  max-width: 300px;
}

/* ************************************************************************************************************* */
/* ************************************** Styles for smaller screens ******************************************* */
/* ************************************************************************************************************* */
@media only screen and (max-width: 760px) {
  .search-query {
    margin-bottom: 1em;
    width: 90%;
    position: absolute;
    top: 5em;
    margin-left: 2em;
  }
  .quote {
    margin: 0.2em;
  }

  .banner {
    width: 100%;
  }
  .card-body {
    padding: 0.2em;
  }

  .card-header {
    padding: 1em;
  }
  .card-item {
    margin-bottom: 1em;
    padding: 1em;
  }
  .about-card {
    flex-direction: column;
  }

  .media-box {
    flex-direction: column;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: unset;
  }
  .search-box {
    flex-direction: column;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0;
    height: unset;
  }

  .media-figure {
    margin: 0 auto;
    height: auto;
    width: auto;
  }

  .is-1-by-2 {
    width: 100%;
  }

  .is-row {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .msg {
    padding: 0.5em;
  }
  .profile-photo {
    height: 24px;
    width: 24px;
    top: 3em;
  }
  .icon-wrapper {
    align-self: center;
  }
}
@media only screen and (max-width: 400px) {
  .msg-wrapper {
    margin-top: 5em;
  }
}
@media only screen and (min-width: 400px) and (max-width: 760px) {
  .msg-wrapper {
    margin-top: 3.5em;
  }
  .banner {
    width: 80%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .msg-wrapper {
    margin-top: 2.5em;
  }
}

@media only screen and (max-width: 760px),
  (min-width: 760px) and (max-width: 1024px) {
  main {
    flex-direction: column-reverse;
    margin-top: 4em;
  }
  .hide-in-mobile {
    display: none !important;
  }
  .search-query {
    margin-bottom: 2em;
    width: 70%;
    position: absolute;
    top: 7em;
    margin-left: 15%;
    max-width: 800px;
  }

  article.card {
    margin-left: 0px;
  }
  .card {
    width: auto;
  }
  .theme-box {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
  }

  .theme-switcher-button,
  .theme-button {
    display: block;
    margin: 1.5em;
    width: 40px;
    height: 40px;
  }

  .theme-button {
    margin: 0px;
  }
  .navbar {
    justify-content: space-between;
    padding-top: 0;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }

  .navbar-menu > .navbar-item {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--font-color);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .navbar-menu {
    position: absolute;
    top: 0;
    margin-top: 6em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu-button-container {
    display: flex;
    padding: 3em;
  }

  #menu-toggle ~ .navbar-menu .navbar-item {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .navbar-menu .navbar-item {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar-menu > .navbar-item {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--font-color);
    background-color: var(--primary-bg);
    border: 1px solid var(--header-bg);
  }

  .navbar-item:hover {
    color: var(--color);
    background-color: var(--box-bg);
    border-radius: 0;
  }

  .navbar-brand .navbar-item {
    border-radius: 30px;
    padding: 2em;
    margin-top: 0.5em;
  }
}
