<!doctype html>
<html lang="en-GB-oed">
{{> header page=page}}

<body>
  {{> nav routes=page.routes}}
  <main>
    <article class="card" id="content">
      <div class="card-body e-content">
        <header class="card-item">
          <h1 class="generic-header">{{page.title}}</h1>
          <div class="p-image generic-image">
            <img id="pen" class="pen" src="/images/home/pen-white.svg" alt="pen">
          </div>
          {{#if page.last_modified}}
            <time class="subtitle dt-published" datetime="{{page.last_modified}}">
              {{page.last_modified}}</time>
          {{/if}}
        </header>
        <div class="card-item">
          {{#if page.content}}
            {{#if page.cat}}
              {{#if page.category}}
                <span class="p-category is-padding-left-1">
                  {{page.category}}
                </span>
              {{/if}}

              {{> (lookup page 'content')}}

        </div>
        <span class="reply-box"><a class="link-button"
            href="mailto:contact@exeami.com?subject=Comment on '{{page.title}}'&amp;body=Link: https://exeami.com/{{page.cat}}/{{page.url}}">Comment
            via email</a></span><br>
        {{else}}
          {{> (lookup page 'content')}}
          {{/if}}
          {{/if}}

          {{#if page.content-item}}
            {{> (lookup page 'content-item') data=page.content-data}}
          {{/if}}
      </div>

      {{#if page.suggestions}}
        <div>
          <h2 class="is-text-center">Recent Blogs</h2>
          {{> blog-item data=page.suggestions}}
        </div>
        <div>
          <h3 class="is-text-center"><a href="/blogs">See all blogs</a></h3>
        </div>
      {{/if}}
      {{#if page.posts}}
        <div>
          <h2 class="is-text-center">Recent Posts</h2>
          {{> post-item data=page.posts}}
        </div>
        <div>
          <h3 class="is-text-center"><a href="/posts">See all posts</a></h3>
        </div>
      {{/if}}
      {{#if page.category}}
        <div>
          <h3 class="is-text-center"><a href="/posts">See all posts</a></h3>
        </div>
      {{/if}}
    </article>
    {{> theme-switcher}}
  </main>
  {{> footer}}
</body>

</html>