<div class="theme-box hide-in-mobile">
  <button class="black-theme-button theme-button" data-theme="black-theme"><img width=30 height=30 class=".is-30x30"
      src="/images/logos/theme.svg" alt="black theme switch"></button>
  <button class="purple-theme-button theme-button" data-theme="purple-theme"><img width=30 height=30 class=".is-30x30"
      src="/images/logos/theme.svg" alt="purple theme switch"></button>
  <button class="white-theme-button theme-button" data-theme="white-theme"><img width=30 height=30 class=".is-30x30"
      src="/images/logos/theme-light.svg" alt="white theme switch"></button>
</div>